@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 82.5%;
  max-width: 1320;
  margin: 0 auto 120px;
}
/* Banner */
.banner {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  background-size: cover;
  gap: 16px;
  width: 1320px;
}

.banner-title1 {
  color: #fff;

  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-title2 {
  color: #fff;
  max-width: 632px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
/* Discount */
#discount {
  width: 50.18%;
  max-width: 1320;
  margin: 120px auto;
}
.discount-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 802px;
  margin: 0 auto;
}
.discount-text-head {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.discount-text-para1 {
  color: #f00;
  text-align: center;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discount-text-para2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.discount-img {
  max-width: 802.9px;
  max-height: 500px;
}
/* Welcome */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 16px;
  gap: 39.17px;
  margin: 0 auto;
  width: 1320px;
}
.welcome-text {
  max-width: 697px;
}
.welcome-text-head {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome-text-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.welcome-text-button {
  margin-left: 32px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
/* Place */
.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  height: 482px;
  border-radius: 16px;
  margin: 0 auto;
  width: 1320px;
}
.place-text {
  padding: 100px;
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.place-text-color {
  color: #f00;
}
.place-button {
  margin-top: 48px;
  border: 0;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Holiday */
.holiday {
  width: 1320px;
  margin: 0 auto;
}
.holiday-image {
  width: 1320px;
  height: 662px;
  background: url("../resources/Group\ 75.png"),
    url("../resources/Rectangle\ 2.png"), url("../resources/Group\ 44.png"),
    url("../resources/Rectangle\ 1.png");
  background-position: bottom left, bottom, right 280px bottom 288px, top right;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.holiday-text {
  text-align: center;
}
.holiday-text-title1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holiday-text-title2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 28px;
}
.holiday-text-title2-color {
  color: #f00;
}
.holiday-text-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  margin: 0 126px 64px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
}
/* Portfolio */
.portfolio {
  width: 1320px;
  margin: 0 auto;
}
.portfolio-img-1 {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.portfolio-img-2 {
  display: flex;
  gap: 24px;
}
.portfolio-text-title1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.portfolio-text-title2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-text-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 896px;
  line-height: 32px; /* 160% */
  margin-bottom: 48px;
}
/* Newsletter */
.newsletter {
  height: 616px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  margin: 0 auto;
  width: 1320px;
  background-color: rgba(255, 0, 0, 0.05);
}
.newsletter-img {
  margin-top: 80px;
  margin-bottom: 40px;
}
.newsletter-text-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.newsletter-text-para {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  margin: 0 212px 48px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.newsletter-email {
  width: 438px;
  height: 72px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);
  padding-left: 30px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsletter-button {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.newsletter-submit {
  display: flex;
  justify-content: center;
}
/* Footer */
footer {
  background: #070211;
  width: 1600px;
  margin: 0 auto;
  padding: 120px 0;
}
.footer-container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}
.footer-row1,
.footer-row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.footer-row1-left {
  width: 375px;
}
.footer-row1-right {
  margin-right: 151px;
}
.footer-row1-right-content {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
}
.footer-row2 {
  display: flex;
  justify-content: center;
  gap: 24px;
}
hr {
  border: none;
  background: rgba(255, 255, 255, 0.15);
  height: 1px;
  margin: 50px 0;
}
