@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 82.5%;
  max-width: 1320;
  margin: 0 auto 120px;
}
/* Banner */
.banner {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  background-size: cover;
  gap: 16px;
  width: 1320px;
}

.banner-title1 {
  color: #fff;

  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-title2 {
  color: #fff;
  max-width: 632px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
/* Discount */
#discount {
  width: 50.18%;
  max-width: 1320;
  margin: 120px auto;
}
.discount-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount-text-head {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.discount-text-para1 {
  color: #f00;
  text-align: center;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discount-text-para2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.discount-img {
  max-width: 802.9px;
  max-height: 500px;
}
/* Welcome */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 16px;
  gap: 39.17px;
  margin: 0 auto;
  width: 1320px;
}
.welcome-text {
  max-width: 697px;
}
.welcome-text-head {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome-text-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.welcome-text-button {
  margin-left: 32px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
/* Place */
.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  height: 482px;
  border-radius: 16px;
  margin: 0 auto;
  width: 1320px;
}
.place-text {
  padding: 100px;
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.place-text-color {
  color: #f00;
}
.place-button {
  margin-top: 48px;
  border: 0;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Holiday */
.holiday-image {
  width: 1320px;
  height: 662px;
  background: url("../resources/Group\ 75.png"),
    url("../resources/Rectangle\ 2.png"), url("../resources/Group\ 44.png"),
    url("../resources/Rectangle\ 1.png");
  background-position: bottom left, bottom, right 285px bottom 288px, top right;
  background-repeat: no-repeat;
  margin: 0 auto;
}
